In [1]:
import numpy as np
import pandas as pd

In [17]:
A=np.zeros((10,2))
A[:,0]=45,46,48,94,345,161,27,34,83,36
A[:,1]=12,16,27,38,58,47,25,84,621,2727
B=pd.DataFrame(A,index=['zero','one','two',3,4,5,6,7,8,9],columns=['testA', 'testB'])
B

      testA   testB
zero   45.0    12.0
one    46.0    16.0
two    48.0    27.0
3      94.0    38.0
4     345.0    58.0
5     161.0    47.0
6      27.0    25.0
7      34.0    84.0
8      83.0   621.0
9      36.0  2727.0

In [49]:
C=1,19,2,1,94,84,25,31,4,74,65,1,23,94,5,65,94,56,51,61,4,16,84,84,65,11,5,6,32
D,E=np.histogram(C,np.arange(1,102,10))
#print(D, E)
E=np.delete(E,10)
F=pd.Series(D,E)
print(F)

1     9
11    3
21    2
31    2
41    0
51    2
61    4
71    1
81    3
91    3
dtype: int64